# =========================
# Dataset
# =========================
data/
datasets/
*.wav
*.mp3

# =========================
# Trained Models
# =========================
models/
*.h5
*.pt
*.pth
*.ckpt

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment
# =========================
venv/
env/
.venv/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
are we also ign
